<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevinl.zoomimagevieww">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.kevinl.smoothimageview.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kevinl.smoothimageview.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarTranslucent"/>
    </application>

</manifest>
